streamlit
pandas
numpy
Pillow
nltk
joblib
google-auth
pyttsx3
speechrecognition
newspaper3k
unstructured

langchain
langchain-community
faiss-cpu

google-generativeai
langchain-google-genai

lxml
lxml_html_clean
scikit-learn
